<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Guia do DEV iniciante</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	<div class="alert">Bem Vindo a página Guia do Dev</div>
	
	<div class="header">
		
		<div class="header">
		<a href="" class="header-link"   style="text-decoration:none" >
			<h5>Inicio  &nbsp;</h5>
		</a><!--
		--><a href="explorar.html" class="header-link"  style="text-decoration:none" >
			<h5>Explorar &nbsp; </h5>
		</a><!--
		--><a href="contato.html" class="header-link" style="text-decoration:none" >
			<h5>Contato  &nbsp;</h5>
		</a><!--
		--><a href="roadmap.html" class="header-link" style="text-decoration:none" >
			<h5>RoadMap  &nbsp;</h5>
		</a><!--
		--><a href="github.html" class="header-link" style="text-decoration:none" >
			<h5>GitHub  &nbsp;</h5>
		</a>
		
		
	</div>
	</div>