<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>DevOps Essentials</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	<div class="alert">Bem Vindo a página DevOps - Marcos Vile</div>
	
	<div class="container">
		<div class="logo">
			<img src="/static/imgs/guiadev.svg" alt="guiadev">
		</div>
	</div>

	<div class="container">
		<div class="devops-paths">
			
			<p class="keep-studying">Este é um guia de cursos grátis na área DEV!</p>
			
			<div class="devops-path path">
				<h1>Trilha Dev</h1>
				<a href="https://solyd.com.br/treinamentos/python-basico/" class="devops-course course">
					<h2>CURSO PYTHON BÁSICO - SOLYD</h2>
				</a><!--
				--><a href=" " class="devops-course course">
					<h2>CURSO JAVA SCRIPT BÁSICO - </h2>
				</a><!--
				--><a href=" " class="ops-course course">
					<h2>CURSO LINUX BÁSICO - 4LINUX</h2>
				</a><!--
				--><a href=" " class="ops-course course">
					<h2>CANAL DEV TELEGRAM</h2>
				</a>
			</div>
			
			<div class="ex-path path">
				<h1>Trilha Containers</h1>
				<a href="https://4linux.com.br/cursos/treinamento/docker-administracao-de-containers-dca" class="ex-course course">
					<h2>540 - DOCKER: ADMINISTRAÇÃO DE CONTAINERS – DCA</h2>
				</a><!--
				--><a href="https://4linux.com.br/cursos/treinamento/kubernetes-orquestracao-de-ambientes-escalaveis" class="ex-course course">
					<h2>541 - KUBERNETES: ORQUESTRAÇÃO DE AMBIENTES ESCALÁVEIS</h2>
				</a><!--
				--><a href="https://4linux.com.br/cursos/treinamento/openshift-administracao-paas-em-containers" class="ex-course course">
					<h2>542 - OPENSHIFT: ADMINISTRAÇÃO PAAS EM CONTAINERS/</h2>
				</a><!--
				--><a href="https://4linux.com.br/cursos/treinamento/gerenciamento-de-cluster-kubernetes-com-rancher" class="ex-course course">
					<h2>543 - GERENCIAMENTO DE CLUSTER KUBERNETES COM RANCHER</h2>
				</a>
			</div>
			
		</div>
	</div>

</body>

</html>
