<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>DevOps Essentials</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	<div class="alert">Bem Vindo a página Guia do Dev</div>
	
	<div class="container">
		<div class="logo">
			<img src="/static/imgs/guiadev.svg" alt="guiadev">
		</div>
	</div>

	<div class="container">
		<div class="devops-paths">
			
			<p class="keep-studying">Este é um guia de cursos grátis na área DEV!</p>
			
			<div class="devops-path path">
				<h1>Trilha Dev</h1>
				<a href="https://solyd.com.br/treinamentos/python-basico/" class="devops-course course">
					<h2>CURSO PYTHON BÁSICO - SOLYD</h2>
				</a><!--
				--><a href="https://www.cursoemvideo.com/curso/javascript/" class="devops-course course">
					<h2>CURSO JAVA SCRIPT BÁSICO - </h2>
				</a><!--
				--><a href="https://4linux.com.br/cursos/treinamento/linux-fundamentals/" class="ops-course course">
					<h2>CURSO LINUX BÁSICO - 4LINUX</h2>
				</a><!--
				--><a href="https://www.freecodecamp.org/" class="ops-course course">
					<h2>FREECODECAMP</h2>
				</a>
			</div>
			
			<div class="ex-path path">
				<h1>Top Grupos de TI - Telegram </h1>
				<a href="https://t.me/djangobrasil" class="ex-course course">
					<h2>DJANGO</h2>
				</a><!--
				--><a href="https://t.me/javascriptbr" class="ex-course course">
					<h2>JAVASCRIPT</h2>
				</a><!--
				--><a href="https://t.me/fedorabr" class="ex-course course">
					<h2>FEDORA LINUX</h2>
				</a><!--
				--><a href="https://t.me/vagastibr" class="ex-course course">
					<h2>VAGAS TI</h2>
				</a>
			</div>
			
		</div>
	</div>

</body>

</html>
