<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Guia do DEV iniciante</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	<div class="alert">Bem Vindo a página Guia do Dev</div>
	
	<div class="header">
		
		<div class="header">
		<a href="index.html" class="header-link"   style="text-decoration:none" >
			<h5>Inicio  &nbsp;</h5>
		</a><!--
		--><a href="explorar.html" class="header-link"  style="text-decoration:none" >
			<h5>Explorar &nbsp; </h5>
		</a><!--
		--><a href="contato.html" class="header-link" style="text-decoration:none" >
			<h5>Contato  &nbsp;</h5>
		</a><!--
		--><a href="https://roadmap.sh/" class="header-link" style="text-decoration:none" >
			<h5>RoadMap  &nbsp;</h5>
		</a><!--
		--><a href="https://github.com/marcosvile" class="header-link" style="text-decoration:none" >
			<h5>GitHub  &nbsp;</h5>
		</a>
		
		
	</div>
	</div>


	<div class="container">
		<div class="logo">
			<img src="/static/imgs/guiadev.svg" alt="guiadev">
		</div>
	</div>

	<div class="container">
		<div class="devops-paths">
			
			<p class="keep-studying">Este é um guia de cursos grátis na área DEV!</p>
			<span class='textal'> Painel com links que direcionam para cursos gratuitos em 
				desenvolvimento par aquem está iniciando. </span>

			
			<div class="devops-path path">
				<h1>Trilha Dev</h1>
				<a href="https://solyd.com.br/treinamentos/python-basico/" class="devops-course course" style="text-decoration:none">
					<h2>CURSO PYTHON BÁSICO</h2>
				</a><!--
				--><a href="https://www.cursoemvideo.com/curso/javascript/" class="devops-course course" style="text-decoration:none">
					<h2>CURSO JAVA SCRIPT BÁSICO</h2>
				</a><!--
				--><a href="https://4linux.com.br/cursos/treinamento/linux-fundamentals/" class="devops-course course" style="text-decoration:none">
					<h2>CURSO LINUX BÁSICO</h2>
				</a><!--
				--><a href="https://www.youtube.com/playlist?list=PLx4x_zx8csUgyDN7j9L7gykBjxByM_etD" class="devops-course course" style="text-decoration:none">
					<h2>CURSO DE REACT NATIVE</h2>
				</a><!--
				--><a href="https://jornadadodev.com.br/cursos/aprenda-html-em-1-hora?utm_source=facebook&utm_campaign=desenvolvimento_web&utm_medium=grupos&utm_content=aprenda-html-em-1-hora" class="devops-course course" style="text-decoration:none">
					<h2>CURSO DE HTML</h2>
				</a><!--
				--><a href="https://www.youtube.com/playlist?list=PLHz_AreHm4dkI2ZdjTwZA4mPMxWTfNSpR" class="devops-course course" style="text-decoration:none">
					<h2>CURSO DE JAVA</h2>
				</a><!--
				--><a href="https://www.freecodecamp.org/" class="devops-course course" style="text-decoration:none">
					<h2>FREECODECAMP</h2>
				</a><!--
				--><a href="https://learngitbranching.js.org/?locale=pt_BR" class="devops-course course" style="text-decoration:none" > 
					<h2>CURSO DE GIT</h2>
				</a>
			</div>
			
			<div class="ex-path path">
				<h1>Top Grupos de TI - Telegram </h1>
				<a href="https://t.me/djangobrasil" class="tel-gram course" style="text-decoration:none">
					<h2>DJANGO</h2>
				</a><!--
				--><a href="https://t.me/javascriptbr" class="tel-gram course" style="text-decoration:none" >
					<h2>JAVASCRIPT</h2>
				</a><!--
				--><a href="https://t.me/fedorabr" class="tel-gram course" style="text-decoration:none">
					<h2>FEDORA LINUX</h2>
				</a><!--
				--><a href="https://t.me/vagastibr" class="tel-gram course" style="text-decoration:none" >
					<h2>VAGAS TI</h2>
				</a>
			</div>
			
		</div>
	</div>

</body>

</html>
